<!DOCTYPE html>
<html>
<head>
  <title>Tutorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/head'%>
</head>
<body body class='<%= controller.controller_name %>'>

<div class="col-md-3">
  <%= render partial: 'categories/catbuttons'%>
  <%= render partial: 'categories/cart'%>
</div>

  <%= yield %>

  <%= render partial: 'categories/sort'%>


 
  
</body>
</html>
